body{
    font-family: 'Karla', sans-serif;
}
.text-part h1{
    font-size:30PX ;
}
.tomato{
    color: tomato;
}
.text-part a{
background-image: linear-gradient(tomato,rgb(255, 145, 0) );
text-decoration: none;
padding: 10px 40px;
color: aliceblue;
border-radius: 4px;
margin-top: 8px;
}
.text-part span{
    
    font-size: 40px;
}

.top-banner{

display: flex;
margin-left: 10%;
    margin-top: 5%;


}


text-part{
   width: 50%;
    
}
.img-part{
    
    width: 50%;
    margin-left: 20%;
    margin-top: 10PX;
    

    
}

.img-part img{
    border-radius: 8PX;
    width: 85%;
}

.middle-heading{

text-align: center;
margin-top: 10%;
font-size: 25px;

}

.middle-part{
display: flex;
margin-top: 8%;

}

.middle-photo{
    width: 45%;
    margin-left: 7%;
   
    

}

.middle-text{
    width: 45%;
    text-align: justify;
    margin-top: 25px;

}

.middle-photo img{
    width: 80%;
    height: 100%;
    border-radius:8px ;
}


.part-all{

    display: flex;
}

.part-1{

    width: 30%;
    text-align: justify;
     margin-left: 4%;
     box-shadow: 10px 10px 40px gray ;
     padding: 10px 10px;
     margin-top: 4%;

}

.part-1 img{

    width: 100%;
    border-radius: 6px;
    height: 60%;
}

footer{
margin-top: 8%;
background-color: black;
text-align: center;
padding: 3%;
f
}


.footer-text{
color: aliceblue;


}

.all-menu{

    margin-top: 10%;
}

.all-menu strong{
font-size: 30px;
margin-left: 5%;
}

.price{
font-size:110% ;
}

.link{
    background-image: linear-gradient(tomato,rgb(255, 145, 0) );
    text-decoration: none;
    padding: 10px 40px;
    color: aliceblue;
    border-radius: 4px;
    margin-top: 8px;


}